@model IEnumerable<PacoteTuristico>

@{
    ViewData["Title"] = "Home";
}
<article>
 <h3 class="Titulo"><b>Bem-vindo ao Destino Certo</b></h3>
 <h5 class="Titulo"><b>A melhor agência de viagens do Brasil!</b></h5>

    <div class="imagem1">
     <img src = "~/images/Travel.jpg" alt = "Travelling cartoon" style="height: 50%; width: 100%">
    </div>
 
 <p id="textoHome">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium sapien libero, vitae ornare eros pellentesque eget. Suspendisse nulla velit, porta vel erat quis, vulputate blandit elit. Proin elit nunc, volutpat sit amet erat ac, gravida facilisis ante. Pellentesque feugiat, urna eget sagittis consequat, nunc diam efficitur metus, non tempus sapien justo in massa. Quisque consectetur tortor neque, ut egestas urna sodales eu. Etiam eget hendrerit nibh. Praesent at arcu sit amet ante tincidunt vulputate. Mauris eget est ut arcu commodo dignissim. Curabitur dapibus iaculis justo, at ultricies metus semper non. In cursus, leo in rhoncus pretium, mi tellus dapibus metus, et tincidunt purus metus et lectus. Integer in nisi blandit, sollicitudin urna eu, condimentum lacus. Donec sem urna, laoreet et nulla a, ultrices maximus odio. Nulla facilisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse luctus mauris nec velit tincidunt, nec consectetur sapien hendrerit.</p>
</article>

 <div class="container"  align="center">
    <a  button id="botao1" class="btn btn-primary btn-lg"  href="~/Home/Vitrine">Vitrine</a>
</div>